:root {
    --body-font: "Sora", sans-serif;
    --white: #fff;
    --black: #171717;
    --transparent: transparent;
    --primary: #06f;
    --secondary: #313131;
    --primary-hover: #267dff;
    --background: #1a1a1a;
    --gray: #828282;
    --border: #2b2b2b;
    --black-10: #0000001a;
    --img-background: #d9d9d9;
    --gray-dark: #868686;
    --desktop-spacing: 150px;
    --tablet-spacing: 100px;
    --landscape-spacing: 80px;
    --mobile-spacing: 60px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Reuseable class starts */
body {
    margin: 0px;
    background-color: var(--background);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: var(--gray);
}

.section {
    padding-top: var(--desktop-spacing);
    padding-bottom: var(--desktop-spacing);
}

.section.to-bottom {
    padding-bottom: 0;
}

.small-section {
    padding-top: var(--tablet-spacing);
    padding-bottom: var(--tablet-spacing)   ;
    position: relative;
}

.small-section.to-bottom {
    padding-bottom: 0;
}

.section-wrap {
    display: flex;
    flex-flow: column;
    grid-row-gap: 80px;
}

.container {
    width: 100%;
    max-width: 1336px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    color: var(--white);
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: var(--white);
    margin: 0px;
}

h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: var(--white);
    margin: 0px;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--white);
    margin: 0px;
}

h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--white);
    margin: 0px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    margin: 0px;
}

p {
    color: var(--gray);
    margin-bottom: 0;
    margin-top: 0;
}

.body-x-large {
    font-size: 20px;
    line-height: 160%;
}

.body-large {
    font-size: 18px;
    line-height: 150%;
}

.body-small {
    font-size: 14px;
    line-height: 170%;
}

.caption {
    color: var(--white);
    font-size: 12px;
    line-height: 140%;
}

.page-wrap {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.border-outer {
    display: flex;
    width: 100%;
    max-width: 1336px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 0% 0% auto;
    z-index: -1;
}

.border-block {
    z-index: -1;
    border-right: 1px solid var(--border);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--border);
    width: 100%;
    max-width: calc(100% - 38px);
    margin-left: 19px;
    margin-right: 19px;
}

.button {
    display: inline-block;
    border: 1px solid var(--black-10);
    background-color: var(--primary);
    color: var(--white);
    background-image: linear-gradient(135deg, #0000, #00000059);
    border-radius: 10px;
    padding: 12px 24px;
    line-height: 140%;
    text-decoration: none;
    transition: background-color .3s;
    box-shadow: 0 17px 5px #0000, 0 11px 4px #0000000d, 0 6px 4px #0000000d, 0 3px 3px #00000017, 0 1px 1px #0000001a;
}

.button:hover {
    background-color: var(--secondary);
}

.button.secondary {
    background-color: var(--secondary);
    box-shadow: none;
    background-image: none;
    border-style: none;
}

.button.secondary:hover {
    background-color: var(--primary);
}

.color-white {
    color: var(--white);
}

.relative-block {
    position: relative;
}

.border-top {
    background-color: var(--border);
    height: 1px;
    position: absolute;
    inset: 0% 0% auto;
}

.border-bottom {
    background-color: var(--border);
    height: 1px;
    position: absolute;
    inset: auto 0% 0%;
}

.cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.section-title-wrap {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    grid-row-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 690px;
    text-align: center;
}

.section-title-wrap.left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.sub-heading {
    padding: 4px 10px;
    border-radius: 30px;
    border: 1px solid var(--border);
    background-color: var(--background);
    box-shadow: 0 4px 24px 3px #ffffff05;
}


/* Reuseable class ends */

/* Navbar class starts*/
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
    position: relative;
    z-index: 999;
}

.navbar-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.nav-outer {
    text-align: right;
    flex: 0 150px;
    justify-content: center;
    align-items: flex-end;
}

.nav-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-inner {
    display: flex;
    grid-column-gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    padding: 0;
    font-size: 16px;
    color: var(--white);
    transition: opacity .2s ease, color .3s ease;
}

.nav-link:hover, .nav-link.w--current {
    color: var(--primary-hover);
}

.nav-right {
    flex: 0 150px;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 5px;
    padding: 0;
    color: var(--white);
    cursor: pointer;
}

.nav-dropdown-list {
    min-width: 100%;
    display: none;
    position: absolute;
}

.nav-list {
    display: flex;
    flex-flow: column;
    margin-top: 29px;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    background-color: var(--background);
}

.nav-dropdown.open .nav-dropdown-list {
    display: block;
}

.dropdown-link {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
    color: var(--white);
    white-space: nowrap;
    transition: background-color .3s ease;
}

.dropdown-link:hover {
    background-color: var(--primary);
}

.menu-button {
    padding: 5px 0 5px 5px;
    overflow: hidden;
    display: none;
}

.nav-top-line {
    background-color: var(--white);
    width: 26px;
    height: 2px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}

.nav-middle-line {
    background-color: var(--white);
    width: 26px;
    height: 2px;
    transition: transform 0.3s ease;
}

.nav-bottom-line {
    background-color: var(--white);
    width: 26px;
    height: 2px;
    margin-top: 8px;
    transition: transform 0.3s ease;
}
/* Navbar class ends*/

/* Hero section starts */
.hero-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    grid-row-gap: 40px;
    width: 100%;
    max-width: 810px;
    text-align: center;
    margin: 0px auto;
}

.hero-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    grid-row-gap: 10px;
}

.hero-title {
    font-size: 64px;
    line-height: 126%;
}

.hero-inner p {
    width: 100%;
    max-width: 710px;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    position: relative;
    overflow: hidden;
    padding: 120px 40px;
    border-top: 1px solid var(--border);
    background-color: var(--black);
}

.background-line {
    width: 100%;
    max-width: 70%;
    height: 1.5px;
    position: absolute;
    z-index: 0;
    border-top: 1.5px dashed #3f3f3f;
}

.hero-left {
    width: 100%;
    max-width: 308px;
    position: relative;
}

.hero-middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    max-width: 399px;
    background-color: #1c1c1c;
    position: relative;
}

.hero-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 10px;
}

.hero-icon {
    display: flex;
    width: 25px;
    min-width: 25px;
    height: 25px;
}

.flex-block {
    flex: none;
    display: flex;
    grid-column-gap: .33em;
}

.hero-text-start {
    font-size: 18.7px;
    line-height: 160%;
    color: var(--white);
}

.hero-text {
    width: 130px;
    font-size: 18.7px;
    line-height: 160%;
    color: var(--white);
}

.submit-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    min-width: 38px;
    height: 38px;
    background-color: var(--primary);
}

.hero-right {
    aspect-ratio: 206 / 167;
    width: 100%;
    max-width: 412px;
    overflow: hidden;
    background-color: #1a1a1a;
    border-radius: 12px;
}
/* Hero section ends */

/* Footer section starts */
.footer-heading {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 588px;
    margin: 0px auto 60px;
    text-align: center;
}

.footer-wrap {
    display: flex;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border-top: 1px solid var(--border);
    background-color: var(--border);
}

.footer-left {
    display: flex;
    flex-flow: column;
    grid-row-gap: 1px;
    width: 100%;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 60px;
    padding-left: 40px;
    height: 100%;
    background-color: var(--background);
}

.footer-detail {
    display: flex;
    flex-flow: column;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 230px;
}

.footer-links {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row-gap: 10px;
}

.footer-link {
    color: var(--white);
    font-size: 14px;
    line-height: 170%;
    text-decoration: none;
    transition: color 300ms ease;
}

.footer-link:hover {
    color: var(--primary-hover);
}

.footer-bottom {
    display: flex;
    grid-column-gap: 20px;
    padding: 15px 40px;
    background-color: var(--background);
}

.utility-link {
    color: var(--white);
    font-size: 14px;
    line-height: 170%;
    text-decoration: none;
    transition: color .3s;
}

.utility-link:hover {
    color: var(--primary-hover);
}

.footer-right {
    display: flex;
    flex-flow: column;
    grid-row-gap: 30px;
    padding: 60px 50px;
    width: 100%;
    max-width: 469px;
    background-color: var(--background);
}

.link-outer {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row-gap: 4px;
}

.social-wrap {
    display: flex;
    grid-column-gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: background-color .3s ease;
    border: 1px solid var(--border);
    border-radius: 100%;
}

.social-link:hover {
    background-color: var(--primary);
}
/* Footer section ends */

/* Cta section starts */
.cta-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: var(--border);
}

.cta-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    grid-row-gap: 40px;
    padding: 40px;
    background-color: var(--black);
}

.cta-inner {
    display: flex;
    flex-flow: column;
    grid-row-gap: 10px;
}

.cta-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--black);
}

.cta-image {
    width: 100%;
    aspect-ratio: 608 / 421;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary);
}
/* Cta section ends */


@media screen and (max-width: 991px) {
    .section {
        padding-top: var(--tablet-spacing);
        padding-bottom: var(--tablet-spacing);
    }

    .small-section {
        padding-top: var(--landscape-spacing);
        padding-bottom: var(--landscape-spacing);
    }

    .section-wrap {
        grid-row-gap: 60px;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    .body-ex-large {
        font-size: 18px;
    }

    #myLinks{
        display: none;
    }

    .menu-button{
        display: flex;
        flex-direction: column;
        opacity: 100;
        position: relative;
    }

    .nav-menu {
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        z-index: 999;
        border-bottom: 1px solid var(--border);
        background-color: var(--background);
        margin-top: 1px;
    }

    .menu-button.open .bar1 {
        transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .menu-button.open .bar2 {
        transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
    
    .menu-button.open .bar3 {
        transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .nav-inner {
        flex-direction: column;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .nav-dropdown-toggle {
        padding: 10px 20px;
    }

    .nav-dropdown-list {
        position: relative;
        padding: 10px;
    }

    .nav-list {
        margin-top: 0;
        border-top: 1px solid var(--border);
    }

    .dropdown-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-right {
        padding: 10px 20px;
        text-align: left;
    }

    .hero-title {
        font-size: 55px;
    }

    .footer-top {
        grid-column-gap: 10px;
        grid-template-columns: auto auto auto auto;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-bottom {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-right {
        max-width: 289px;
        padding: 40px 30px;
    }

    .cta-content {
        padding: 20px;
    }


}


@media screen and (max-width: 767px) {
    .section {
        padding-top: var(--landscape-spacing);
        padding-bottom: var(--landscape-spacing);
    }

    .small-section {
        padding-top: var(--mobile-spacing);
        padding-bottom: var(--mobile-spacing);
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    .hero-title {
        font-size: 48px;
    }

    .footer-wrap {
        flex-flow: column-reverse;
    }

    .footer-top {
        border-left-style: none;
        padding-bottom: 40px;
    }

    .footer-detail {
        grid-row-gap: 10px;
    }

    .footer-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 30px;
        max-width: none;
    }
}


@media screen and (max-width: 479px) {
    .section {
        padding-top: var(--mobile-spacing);
        padding-bottom: var(--mobile-spacing);
    }

    .section-wrap {
        grid-row-gap: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .body-large {
        font-size: 16px;
        line-height: 150%;
    }

    .hero-title {
        font-size: 40px;
    }

    .footer-top {
        grid-column-gap: 15px;
        grid-row-gap: 40px;
        grid-template-columns: auto auto;
        padding: 20px 15px;
    }

    .footer-bottom {
        grid-row-gap: 5px;
        flex-flow: column;
    }

    .footer-right {
        grid-template-columns: 1fr;
        padding: 20px 15px;
    }
}