<section class="section to-bottom">
    <div class="container">
        <div class="section-wrap">
            <div class="button-outer">
                <div class="section-title-wrap">
                    <div class="sub-heading" data-aos="fade-up" data-aos-duration="1000"><div class="caption">Blog</div></div>
                    <h2 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">Why Leading Businesses Choose Our AI Solutions</h2>
                </div>

                <a href="#" class="button" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">View All Blog</a>
            </div>

            <div class="blog-outer">
                <div class="blog-wrap">
                    <a href="#" class="blog-card">
                        <div class="blog-thumb">
                            <img src="./images/blog-thumb01.jpg" alt="Blog Thumb 01" class="cover-image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-info">
                                <div>AI Solutions</div>-<div>December 2, 2024</div>
                            </div>
                            <h4 class="blog-title">How AI is Revolutionizing Data Analytics for Businesses</h4>
                        </div>
                    </a>
                    
                    <a href="#" class="blog-card">
                        <div class="blog-thumb">
                            <img src="./images/blog-thumb02.jpg" alt="Blog Thumb 02" class="cover-image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-info">
                                <div>Customer Experience</div>-<div>December 2, 2024</div>
                            </div>
                            <h4 class="blog-title">AI in Customer Service: Enhancing the User Experience</h4>
                        </div>
                    </a>
                    
                    <a href="#" class="blog-card">
                        <div class="blog-thumb">
                            <img src="./images/blog-thumb03.jpg" alt="Blog Thumb 03" class="cover-image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-info">
                                <div>Predictive Analytics</div>-<div>November 29, 2024</div>
                            </div>
                            <h4 class="blog-title">How AI is Shaping the Future of Decision-Making</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script> AOS.init(); </script>
</section>