<section class="section to-bottom">
    <div class="relative-block">
        <div class="border-top"></div>

        <div class="container">
            <div class="cta-wrap">
                <div class="cta-content">
                    <div class="cta-inner">
                        <div class="section-title-wrap left">
                            <div class="sub-heading"><div class="caption">CTA</div></div>
                            <h2>Ready to Get Started?</h2>
                        </div>

                        <p>ake control of your financial transactions with Finable. Our intuitive platform makes it easy to manage payments,</p>
                    </div>

                    <a href="#" class="button">Get Started</a>
                </div>

                <div class="cta-img">
                    <div class="cta-image">
                        <img class="cover-image" src="/images/cta-image.png" alt="Cta Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="border-bottom"></div>
    </div>
</section>